@import "@sass-utils";

.main {
  position: relative;
}

.mv {
  padding: 16rem 0 18rem;
  background-image: linear-gradient(to right, $c-white 1px, /* 線の幅 */ #f8f8f8 1px);
  background-size: calc(100% / 6) 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    &:nth-child(1) {
      font-weight: 300;
      font-size: 5.6rem;
    }

    &:nth-child(2) {
      font-size: 1.6rem;
      letter-spacing: 0.2em;
      font-weight: 500;
    }
  }
}

.thanks {
  padding-top: 16rem;
  padding-bottom: 16rem;
  background-image: linear-gradient(to right, $c-white 1px, /* 線の幅 */ #f8f8f8 1px);
  background-size: calc(100% / 6) 100%;
  background-image: linear-gradient(to right, #f8f8f8 1px, /* 線の幅 */ transparent 1px);
  background-size: calc(100% / 6) 100%;

  h2 {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
  }
}

.text {
  margin-top: 4rem;

  font-size: 1.5rem;
  line-height: 2.5;
  text-align: center;

  .mailWrap {
    display: flex;
    justify-content: center;
  }

  a {
    position: relative;
    display: block;
    font-size: 3.2rem;
    font-weight: 500;
    transition: all 0.3s;

    @include hover {
      &:hover {
        color: $c-link;
      }
    }
  }
}

.btnWrap {
  margin-top: 6.4rem;
  display: flex;
  justify-content: center;
}

.btn {
  @extend %btn;
  width: 20rem;
  height: 5.6rem;
}
