@import "@sass-utils";

.footer {
  color: $c-white;
}

.main {
  padding: 8rem 0 5.6rem;
  background-color: #0d151e;
}

.content {
  display: flex;
  justify-content: space-between;

  @include sp {
    flex-wrap: wrap;
  }
}

.infoWrap {
  @include sp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.catch {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.1em;
  margin-top: 2.4rem;

  @include sp {
    text-align: center;
    margin-top: 1.6rem;
  }
}

.logo {
  width: 14rem;
  display: flex;

  @include sp {
    width: 16rem;
  }
}

.info {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1.2rem;
  line-height: 1.75;
}

.nav {
  @include sp {
    margin: 3.2rem auto 0;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;

  @include sp {
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
  }
}

.link {
  position: relative;
  padding: 0.4rem 0;

  @include sp {
    font-size: 1.3rem;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background: $c-white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
  }

  @include hover {
    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}

.subLinkWrap {
  margin-top: 2.4rem;
  display: flex;
  justify-content: flex-end;
}

.subLink {
  font-size: 1.4rem;
  letter-spacing: 0.08em;
  border-bottom: 0.1rem solid $c-white;
  transition: all 0.3s;

  @include sp {
    font-size: 1.1rem;
  }

  @include hover {
    &:hover {
      opacity: 0.7;
    }
  }
}

.subContent {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bannerWrap {
  width: 100%;
}

.bannerText {
  font-size: 1.3rem;
  letter-spacing: 0.08em;
  font-weight: 500;

  @include sp {
    text-align: center;
    font-size: 1.2rem;
  }
}

.banners {
  display: flex;
  gap: 2.4rem;
  margin-top: 1.6rem;

  @include sp {
    flex-direction: column;
    align-items: center;
  }
}

.banner {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;

  @include sp {
  }

  @include hover {
    &:hover {
      opacity: 0.8;
    }
  }
}

.bannerHead {
  font-size: 1.2rem;
  font-weight: 500;

  @include sp {
    text-align: center;
  }
}

.bannerText {
  font-size: 1.1rem;
}

.bannerImg {
  width: 20rem;
  border-radius: 0.4rem;
  overflow: hidden;
  margin-top: 0.8rem;
}

.copyWrap {
  position: relative;
  background-color: #0d151e;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1.6rem 0;
  letter-spacing: 0.08em;
  display: flex;
  justify-content: space-between;

  &::before {
    content: "";
    width: calc(100%);
    height: 0.1rem;
    background-color: #47525e;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.copy {
  position: relative;
  background-color: #0d151e;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1.6rem 0;
  letter-spacing: 0.08em;

  &::before {
    content: "";
    width: calc(100%);
    height: 0.1rem;
    background-color: #47525e;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
