@import "@sass-utils";

.section {
  padding: 16rem 0;
  background-color: #0d151e;

  background-image: linear-gradient(to right, #1d2328 1px, /* 線の幅 */ #0d151e 1px);
  background-size: calc(100% / 6) 100%;

  @include tab {
    background-size: calc(100% / 4) 100%;
  }

  @include sp {
    padding: 8rem 0;
  }
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $c-white;
}

.list {
  margin-top: 8rem;

  @include sp {
    margin-top: 4rem;
  }
}

.item {
  color: $c-white;

  &:not(:first-child) {
    margin-top: 12rem;

    @include sp {
      margin-top: 8rem;
    }
  }
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.6rem 1.6rem;
  letter-spacing: 0.1em;
  // background-color: rgba($c-white, 0.2);
  text-align: center;
  color: $c-black;
  color: $c-white;
  border: 0.1rem solid $c-white;

  @include sp {
    font-size: 1rem;
    padding: 0.4rem 1.2rem;
  }
}

.name {
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 2.4rem;

  @include sp {
    font-size: 2.2rem;
    text-align: center;
  }
}

.subTitle {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 1.2rem;

  @include sp {
    font-size: 1.4rem;
  }
}

.thumb {
  width: 70%;
  margin: 1.2rem auto 0;

  @include sp {
    width: 100%;
  }
}

.exp {
  font-size: 1.5rem;
  line-height: 2.25;
  margin-top: 3.2rem;
  padding: 0 16%;

  @include sp {
    padding: 0;
    font-size: 1.4rem;
  }
}

.btnWrap {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.btn {
  width: 20rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 0.1rem solid $c-white;
  font-weight: 400;
  letter-spacing: 0.08em;

  background-color: transparent;
  color: $c-white;
  font-size: 1.5rem;
  transition: all 0.3s;

  svg {
    font-size: 1.6rem;
    margin-left: 0.8rem;
  }

  @include hover {
    &:hover {
      background-color: $c-white;
      color: #0d151e;
    }
  }
}

.brsp {
  display: none;

  @include sp {
    display: block;
  }
}
