@import "@sass-utils";

.link {
  display: flex;
  flex-direction: column;
  background-color: $c-white;
  flex-grow: 1;
  border: 0.1rem solid #eee;
  transition: all 0.3s;

  @include hover {
    &:hover {
      .thumb {
        img {
          transform: scale(1.06);
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.thumb {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($c-darkest, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
  }
}

.body {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info {
  display: flex;
  justify-content: space-between;
}

.cat {
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  align-items: center;

  svg {
    margin-right: 0.4rem;
    transform: translateY(0.1rem);
  }
}

.time {
  font-size: 1.3rem;
  font-weight: 500;
  opacity: 0.6;
  display: flex;
  align-items: center;

  svg {
    margin-right: 0.4rem;
  }
}

.title {
  font-size: 1.6rem;
  margin-top: 0.8rem;
  min-height: 3em;

  @include sp {
    min-height: 0;
  }
}

.desc {
  font-size: 1.3rem;
  line-height: 1.75;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  opacity: 0.7;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem 1.6rem;
  margin-top: auto;
}

.tagLink {
  display: flex;
  align-items: center;
  font-size: 1.2rem;

  svg {
    margin-right: 0.4rem;
    transform: translateY(0.1rem);
  }
}

.link.isHorizontal {
  flex-direction: row;
  border: none;

  @include sp-s {
    flex-direction: column;
  }

  .body {
    padding: 0 2.4rem;

    @include sp-s {
      padding: 1.6rem 0 0;
    }
  }

  .thumb {
    width: 32%;
    min-width: 24rem;
    flex-shrink: 0;

    @include sp {
      width: 32%;
      min-width: 0;
    }

    @include sp-s {
      width: 100%;
    }

    img {
      position: static;
      aspect-ratio: 16 / 9;
      width: 100%;
      height: auto;
    }
  }

  .info {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 1.6rem;
  }

  .cat {
    @include sp {
      font-size: 1.2rem;
    }
  }

  .time {
    font-weight: 400;
    opacity: 1;
    transform: translateY(0.1rem);

    @include sp {
      font-size: 1.2rem;
    }
  }

  .title {
    @include sp {
      font-size: 1.4rem;
    }
  }

  .desc {
    display: none;
  }

  .tagList {
    margin-top: 1.6rem;

    @include sp {
      margin-top: 0.8rem;
    }
  }

  .tagLink {
    @include sp {
      font-size: 1.1rem;
    }
  }
}
