@import "@sass-utils";

.section {
  padding: 16rem 0;

  @include sp {
    padding: 8rem 0;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 4rem;
}

.intro {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2;
  margin-top: 6.4rem;

  @include sp {
    font-size: 1.4rem;
    margin-top: 3.2rem;
  }
}
