@import "@sass-utils";

.wrap {
  padding-top: 16rem;
  padding-bottom: 16rem;
  background-color: $c-white;
}

.inner {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

.main {
  flex-grow: 1;
}

.archive {
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.item {
  display: flex;
  flex-direction: column;
  // box-shadow: 0 0.4rem 1.2rem 0.6rem rgba(51, 51, 51, 0.04);
}

.sidebar {
  width: 30rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.sidebarBlock {
}

.sidebarTitle {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 0.8rem;
  border-bottom: 0.2rem solid;
}

.catList {
  margin-top: 1.2rem;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: bold;
    gap: 0.8rem;
    padding: 0.6rem 0;
    // border-bottom: 0.1rem solid #eee;

    // &:not(:first-child) {
    //   margin-top: 0.4rem;
    // }

    span {
      background-color: $c-black;
      color: $c-white;
      padding: 0.2rem 0.6rem;
      // border-radius: 0.8rem;
      font-size: 1rem;
      min-width: 2.7rem;
      text-align: center;
      border-radius: 2rem;
    }
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem 1.2rem;
  margin-top: 1.2rem;

  li {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    border: 0.1rem solid;
    padding: 0.4rem 0.8rem;

    &::before {
      content: "#";
    }
  }
}
