@import "@sass-utils";

.box {
  position: relative;
  border-radius: 1.2rem;
  padding: 2.4rem 3.2rem 2.4rem 6rem;
  display: flex;
  flex-direction: column;
  line-height: 1.75;
  margin: 3.2rem 0;

  @include sp {
    padding: 1.6rem 1.6rem 1.6rem 4.4rem;
  }

  &.isSuccess {
    background-color: #daf0ff;
    color: #1c557b;

    ul li {
      &::before {
        background-color: #1c557b;
      }
    }
  }

  &.isWarning {
    background-color: #fff0ac;
    color: #5b530b;

    ul li {
      &::before {
        background-color: #5b530b;
      }
    }
  }
}

.icon {
  position: absolute;
  flex-shrink: 0;

  &.isInfoCircle {
    left: 2.4rem;
    top: 2rem;
    font-size: 2.4rem;

    @include sp {
      font-size: 2rem;
      left: 1.6rem;
      top: 1.3rem;
    }
  }

  &.isWarning {
    left: 2.4rem;
    top: 2rem;
    font-size: 2.4rem;

    @include sp {
      font-size: 2rem;
      left: 1.6rem;
      top: 1.3rem;
    }
  }

  &.isThumbsUp {
    left: 2.4rem;
    top: 2rem;
    font-size: 2.2rem;

    @include sp {
      font-size: 2rem;
      left: 1.6rem;
      top: 1.3rem;
    }
  }
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.content {
  & > *:first-child {
    margin-top: 0;
  }
}
